*.tfstate
*.tfstate.*
*.tfstate.backup
.terraform/
.terraform.lock.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
secret.tfvars
*.auto.tfvars
!terraform.tfvars.example
.terraform.tfstate.lock.info
